<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
        .bg-section {
            background-image: url('https://resources.jetbrains.com/storage/products/v/beams/jb-academy/v1.svg');
            /* 🔹 put your image here */
            background-size: cover;
            /* make image cover whole div */
            background-position: center;
            /* center the image */
            background-repeat: no-repeat;
            height: 100vh;
            /* full screen height */
        }
    </style>
</head>

<body>

    <div th:if="${session_user == null OR session_user == ''}">
        <div th:replace="~{fragments/header :: crm-header}"></div>
    </div>
    <div th:unless="${session_user == null OR session_user == ''}">
        <div th:replace="~{fragments/header-for-logout :: crm-header}"></div>
    </div>





    <main>
        <section>
            <div class="container-fluid bg-black">
                <div class="container">

                    <div class="row justify-content-sm-between">
                        <div class="col-4  text-white">
                            <div class="" style="margin-top: 250px;font-size: 72px;">Learn Java
                                by Creating Applications</div>
                        </div>
                        <div class="col-7">
                            <div class="bg-section d-flex justify-content-center align-items-center">
                                <form class="">
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1"
                                            aria-describedby="emailHelp">
                                        <div id="emailHelp" class="form-text">We'll never share your email with anyone
                                            else.</div>
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>
                                    <div class="mb-3 form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">Check me out</label>
                                    </div>
                                    <button type="submit" class="btn btn-primary">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="py-5">
            <div style="text-align:center; font-weight: 400; " class="fs-1 bg-light mb-3">Our Course</div>

            <div class="container">
                <div class="row g-4">
                    <div th:each="course : ${allcource}" class="col-lg-3 col-md-6">
                        <div class="card" style="width: 18rem;">
                            <img th:src="@{${course.image_url}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title"><span th:text="${course.name}"></span></h5>
                                <p class="card-text">
                                    <span th:text="${course.description}"></span>
                                </p>
                                <p> <strong>Price :</strong> <del>Rs. <span
                                            th:text="${course.orignalprice}"></span></del> <span class="bg-info p-1">Rs.
                                        <span th:text="${course.discountprice}"></span></span> </p>
                                <div th:if="${session_user == null OR session_user == ''}">
                                    <a href="login" class="btn btn-outline-primary">Login to Buy</a>
                                </div>
                            
                                <div th:unless="${session_user == null OR session_user == ''}">
                                    <button class="btn btn-primary"
  th:data-cname="${course.name}"
  th:data-cprice="${course.discountprice}"
  th:data-ename="${session_user.name}"
  th:data-uemail="${session_user.email}"
  th:data-uphono="${session_user.phono}"
  onclick="openpage(
    this.getAttribute('data-cname'),
    this.getAttribute('data-cprice'),
    this.getAttribute('data-ename'),
    this.getAttribute('data-uemail'),
    this.getAttribute('data-uphono'))">
  Buy
</button>

                                </div>

                            </div>
                            <div class="card-footer text-body-secondary">
                                Updated : <span th:text="${course.updateon}"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            </div>

            </div>
            </div>
        </section>

        </div>
    </main>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>



    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <script>
        function openpage(cname, price, name, email, username, phono) {
            var options = {
                "key": "rzp_test_R7egvn1MnXeKx7",
                "amount": price * 100,
                "currency": "INR",
                "name": cname,
                "handler": function (response) {
                    var requestData = {
                        courseName: cname,
                        Useremail: email,
                        dateofpurches: new Date().toLocaleString(),
                        courseAmout : price*100,
                        rzpPaymentId: response.razorpay_payment_id
                    };

                    $.ajax({
                        type: "POST",
                        url: "/api/storeOrderDetails",
                        data: JSON.stringify(requestData),
                        contentType: "application/json",
                        success: function (response) {
                            console.log("Course added successfully");
                            alert("Course added successfully");
                            window.location.href = '/mycourse';
                        },
                        error: function () {
                            console.log("Error occurred");
                            alert("Error occurred while saving order details");
                        }
                    });
                },
                "prefill": {
                    "name": username,
                    "email": email,
                    "contact": phono
                },
                "notes": {
                    "address": "Your Office Address"
                },
                "theme": {
                    "color": "#3399cc"
                }
            };

            var rzp1 = new Razorpay(options);
            rzp1.on('payment.failed', function (response) {
                alert("Error Code: " + response.error.code);
                alert("Description: " + response.error.description);
                alert("Reason: " + response.error.reason);
            });
            rzp1.open();
        }
    </script>
</body>

</html>