<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-LN+7fdVzj6u52u30Kp6M/trliBMCMKTyK833zpbD+pXdCLuTusPj697FH4R/5mcr" crossorigin="anonymous">
    <style>
        .bg-section {
            background-image: url('https://resources.jetbrains.com/storage/products/v/beams/jb-academy/v1.svg');
            /* 🔹 put your image here */
            background-size: cover;
            /* make image cover whole div */
            background-position: center;
            /* center the image */
            background-repeat: no-repeat;
            height: 100vh;
            /* full screen height */
        }
    </style>
</head>

<body>


    <header>
        <nav class="navbar navbar-expand-lg bg-black">
            <div class="container">
                <img src="https://resources.jetbrains.com/assets/logos/jetbrains-square.svg" alt="" srcset="">
                <a class="navbar-brand text-white ms-3 fs-3 " href="index.html">Smart Programing</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-white " href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                More
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else here</a></li>
                            </ul>
                        </li>
                        <li class="nav-item">

                            <a class="btn btn-success ms-4" href="login.html" >Login</a>
                        </li>
                        <li class="nav-item">
                            <a class="btn btn-success ms-2" href="Register.html">Register</a>
                        </li>
                    </ul>

                </div>
            </div>
        </nav>
    </header>


    

        <section class="py-5">
            <div style="text-align:center; font-weight: 400; "  class="fs-1 bg-light mb-3">Register</div>

          <div class="row justify-content-center">
            <div class="col-4">
                <form  action="Register_form" method="post" class=" p-2 ">
                    <div class="card shadow p-5">
                        <span th:if="${user_register}">
                            <span th:text="${user_register} " class="text-center text-primary"></span>
                        </span>
                         <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Name</label>
                            <input type="text" class="form-control" name="name"
                                />
                               </div>
                        
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" name="email"
                                aria-describedby="emailHelp" />
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" name="password" />
                        </div>
                         <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Phone Number</label>
                            <input type="number" class="form-control"  name="phono"
                                aria-describedby="emailHelp" />
                                </div>
                         <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">City</label>
                            <input type="text" class="form-control"  name="city"
                                aria-describedby="emailHelp" />
                            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
                        </div>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>

                </form>
            </div>
        </div>
           
        </section>

        </div>
  
         <footer>
          <div class="bg-black text-white text-center">
             <span>@dipaonshu copywrite</span>
            <div>
                <a href="" class="text-decoration-none">gbf</a>
                <a href="" class="text-decoration-none">fdbsb</a>
            </div>
            </div>
          
    </footer>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ndDqU0Gzau9qJ1lfW4pNLlhNTkCfHzAVBReH9diLvGRem5+R9g2FzA8ZGN954O5Q"
        crossorigin="anonymous"></script>
</body>

</html>